################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Proba/v17
/.vs/Proba/FileContentIndex
*.json
/.vs/Próba_/v17
/.vs/Próba_/FileContentIndex
/.vs/Próba_/CopilotIndices/17.12.38.29086
